@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;700;800&display=swap');

$font-black: 'Manrope';
$font-bold: 'Manrope';
$font-bold-condensed: 'Manrope';
$font-book: 'Manrope';
$font-book-condensed: 'Manrope';
$font-light: 'Manrope';
$font-light-condensed: 'Manrope';
$font-medium: 'Manrope';
$font-medium-condensed: 'Manrope';
$font-thin: 'Manrope';
$font-ultra: 'Manrope';
$font-xlight: 'Manrope';