.container--deals {
  color: #7c7c7c;
  text-align: center;
  justify-content: center;
}

.container--deals--title {
  .paragraph--deals--title {
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
    color: #d22630;
  }
}

.link--txt-deal {
  color: black;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .container--deals--title {
    text-align: left;
    justify-content: flex-start;
  }
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034e;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034e;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #000;
}

.container--title {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 30px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    max-width: 100%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

.link--deals {
  color: #7c7c7c;
  font-size: 0.9375rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.link--deals:hover {
  color: #d22630;
}

/* Novidades Home */
.container--promotion-news-content--title {
  justify-content: center;
  background: #d22630;
  padding-top: 25px;
}

.heading--promotion-news-content--title {
  text-transform: uppercase;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.link--title-extra-shelf {
  color: #1e1e24;
  text-decoration: none;
  font-size: 26px;
}

.paragraph--titles-home,
.link--titles-home {
  margin: -32px 0 -18px 0;
  font-size: 45px;
  font-weight: 700;
  font-stretch: normal;
  display: block;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #1e1e24;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  .paragraph--titles-home,
  .link--titles-home {
    font-size: 24px !important;
  }
  .vtex-rich-text-0-x-link--titles-home{
    font-size: 24px !important;
  }
}

@media screen and (max-width: 640px) {
  .paragraph--titles-home,
  .link--titles-home {
    font-size: 45px;
  }
}

.container--subtitles-home {
  margin-bottom: 2rem;
  .paragraph--subtitles-home {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }
}

.paragraph--newsletter-title,
.paragraph--newsletter-terms,
.paragraph--newsletter {
  margin: 0;
  color: #1e1e24;
}

.paragraph--newsletter-title {
  font-size: 30px;
  font-weight: bold;
}
.paragraph--newsletter {
  font-weight: 400;
}

.paragraph--newsletter-title {
  font-size: 30px;

  @media screen and (max-width: 840px) {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.paragraph--texto-retraso {
  margin: 0;
  font-size: 14px;
}

/* Header */
.container--textTipbar {
  margin: 0 auto;
  padding: 0 15px;
}

.paragraph--textTipbar {
  margin: 0;
  padding: 3px 0 0;
}

.link--textTipbar {
  text-decoration: none;
  font-size: 11px;
  font-weight: 100;
  letter-spacing: -0.5px;
  color: #7c7c7c;
}

.strong--textTipbar {
  color: #a7d163;
}
//
.paragraph--title-policy {
  color: #f5a057;
  font-size: 1.75em;
  font-weight: 700;
  margin: 0;
  margin-top: 30px;
}

.headingLevel1--titulo-quem-somos,
.headingLevel5--titulo-imprensa {
  color: #99cd44;
  font-size: 18px;
  margin: 15px 0 0 0;
  background: #fff;
  opacity: 0.7;
  padding: 5px 0;
}

.headingLevel1--titulo-quem-somos {
  font-size: 32px;
  margin: 15px 0;
}

.container--assessoria-btn,
.container--missao-e-valores-btn,
.container--historia-btn {
  :first-child {
    background: #27ae61;
    font-weight: 700;
    border-radius: 15px;
    padding: 0px 40px;
    color: white;
    margin: inherit;
  }

  background: none;
  padding: 0;
  margin: 20px 0;
}

.heading--margin-0 {
  margin: 10px;
}
.paragraph--assessoria-btn {
  font-size: 18px;
  margin: 12px 0;
}
.paragraph--email {
  margin-left: 5px;
}
.link--email {
  color: #d22630;
  text-decoration: none;
}
.link--email:hover {
  color: #3d766c;
}

.heading--frete-title {
  font-size: 21px;
  color: #72c44b !important;
  font-weight: 700;
}
.paragraph--frete-warn {
  font-size: 12px;
}
.paragraph {
  &--title-frete {
    font-size: 12px;
  }
  &--light {
    font-size: 12px;
  }
  &--med {
    font-size: 12px;
  }

  &--heavy {
    font-size: 12px;
  }
}
.paragraph {
  &--heavy-title {
    @media screen and (max-width: 425px) {
      font-size: 16px;
    }
    color: #72c44b;
    font-weight: 700;
    font-size: 21px;
    margin: 0;
  }
  &--med-title {
    @media screen and (max-width: 425px) {
      font-size: 16px;
    }
    color: #72c44b;
    font-weight: 700;
    font-size: 21px;
    margin: 0;
  }
  &--light-title {
    @media screen and (max-width: 425px) {
      font-size: 16px;
    }
    color: #72c44b;
    font-weight: 700;
    font-size: 21px;
    margin: 0;
  }
}
.paragraph--caution-text {
  font-size: 10px;
}
.paragraph--color-main {
  color: #72c44b;
  font-weight: 700;
  font-size: 22px;
  margin: 10px 0 0 0;
}

.container--frete-title {
  margin-top: 30px;
}

.heading--color-main {
  color: #72c44b;
  font-weight: 700;
  margin: 10px 0 0 0;
  font-size: 32px;
}

.paragraph--little-text {
  font-size: 10px;
  margin: 0;
}
.container--franquia-content {
  display: flex;
  align-items: center;
}
.container--franquia-cor-1 {
  background: #27ae60;
  color: #fff;
  margin: 5px 0;
}
.container--franquia-cor-sec {
  background: #a7d163;
  color: #fff;
  margin: 5px 0;
}
.container--franquia-cor-2 {
  color: #fff;
  background: #a7d163;
  margin: 10px 0;
}
.container--franquia-right {
  @media screen and (min-width: 1024px) {
    margin-left: 15px;
  }
}
.paragraph--franquia-right {
  padding: 0 10px;
  justify-content: flex-start !important;
}
.container--bg-table {
  display: flex;
  justify-content: center;
}
.paragraph--bg-table {
  margin: 14px 0;
}
.paragraph--custo-investimento-content {
  max-width: 500px;
  margin-bottom: 70px;
}
.container--content-table {
  @media screen and (min-width: 1024px) {
    margin-left: 10px;
  }
}

.paragraph.nostyle {
  color: initial;
  text-decoration: none;
}

.paragraph--categorias-imgTitle {
  margin: 0;
}

.paragraph--categorias-imgTitle-1 {
  :first-child {
    color: #8ae5b9;
  }
}
.paragraph--categorias-imgTitle-2 {
  flex-direction: row;
  display: flex;
  &::after {
    content: "";
    background-image: url("/arquivos/arrow-go@2x.png");
    background-size: cover;
    width: 26px;
    height: 14px;
    display: block;
    margin: auto 10px;
  }
}

// footer
.paragraph--footer-copyright {
  color: #999 !important;
  font-size: 13px;
  font-weight: 500;

  @media screen and (max-width: 540px) {
    text-align: left;
    padding: 0 10px;
  }
}
.italic--footer-copyright {
  color: #999 !important;
  font-weight: 700;
}

// LANDING TIENDAS
.paragraph--info-tienda {
  margin: 0;
  .strong--info-tienda {
    &:first-child {
      color: #d22630;
    }
    &:not(&:first-child) {
      color: #000;
    }
  }
}

.paragraph--subtitle-tiendas {
  text-transform: uppercase;
}

.container--open-categorias {
  .paragraph--open-categorias {
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1px;
    color: rgba(30, 30, 36, 0.5);
    text-transform: uppercase;
    margin: 5px 0 5px 20px;
  }
  .paragraph--open-categorias.paragraph--open-licencias {
    color: #1ac0c6;
    padding: 5px 0;
    margin-left: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1em;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
  }
}

.paragraph--txt-benefit-pdp{
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 0;
  line-height: initial;
  margin-left: 10px;
  font-size: 0.8rem;
  text-decoration: underline;
}

.heading--txt-header-popup-miniso {
  font-size: 1.5rem;
  margin: 0rem 0 5px;
}

.paragraph--txt-header-popup-miniso {
  margin-top: 0 px;
}

.wrapper--txt-header-popup-miniso,
.heading--txt-header-popup-miniso,
.paragraph--txt-header-popup-miniso {
  width: 100%;
  text-align: center;
}

.container--txt-modal-benefit-pdp {
  max-width: 940px;
}

.container--txt-modal-benefit-pdp .heading {
  display: block;
  text-align: center;
  font-size: 1.5rem;
}

.list--txt-modal-benefit-pdp {
  padding-right: 30px;
}

.wrapper--txt-not-found {
  .paragraph {
    font-size: 30px;
    color: #1e1e24;
    display: block;
    font-weight: normal;
    margin-bottom: 13vh;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }
  }
}

.paragraph--txt-deal {
  letter-spacing: 2px;
  font-weight: 700;

  .italic--txt-deal {
    display: block;
    text-align: center;
    font-style: normal;
  }
}
.paragraph--link-tiendas {
  font-weight: 700;
  font-size: 16px;
}

@media screen and (max-width: 840px) {
  .paragraph--txt-deal {
    font-size: 8px;
  }
}

.link--shelf-title {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

.heading--shelf-title {
  margin: 0px 0px 10px 0px;
}

.headingLevel1--titles-home {
  margin-bottom: 0px;
}

.paragraph--title-extra-shelf {
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 26px !important;
}

.paragraph--title {
  margin-top: 0px;
  margin-bottom: 20px;
}

.wrapper--minicart-empty-card::before {
  content: url("https://minisomx.myvtex.com/arquivos/penguin-icon.png");
  display: flex;
  justify-content: center;
  height: 95px;
  width: 95px;
  margin: 0 auto 15px;
}
.wrapper--minicart-empty-card::after{
  content: "¡No tienes artículos añadidos!" !important;
  margin-top: -10px !important;

}

.wrapper--formas-pago-section-feature {
  width: 100%;
}

.headingLevel2--txt-modal-benefit-pdp-03 {
  text-align: center;
  font-size: 22px;
}

.listItem--txt-modal-benefit-pdp-03 {
  margin-bottom: 5px;
  color: #414141;
}

.list--txt-modal-benefit-pdp-03 {
  padding-right: 20px;
}

.paragraph--txt-modal-benefit-pdp-02{
  padding-left: 22px;
}
.paragraph--newsletter-terms {
  color: #979899;
  margin-top: 20px;
  font-weight: bold !important;
  font-size: 14px !important;
}

@media screen and (max-width: 375px) {
  .paragraph--titles-home,
  .link--titles-home {
    font-size: 22px !important;
  }
}
@media screen and (max-width: 320px) {
  .paragraph--titles-home,
  .link--titles-home {
    font-size: 20px !important;
  }
}

//landing
.container--title-vacation {
  background: #e4c9ff;
  padding: 10px 0;
}
.paragraph--title-vacation{
  margin: 0;
  font-size: 18px;
}
.wrapper--title-vacation {
  margin: 0 auto;
  max-width: 887px;
  text-align: justify;
  margin: 10px 0;
  @media screen and (max-width: 768px){
    padding: 0 10px;
    font-size: 14px;
    .headingLevel4--title-vacation{
      font-size: 14px;
     
    }
    
  }
}
.paragraph--title-vacation{
  margin: 0;
  font-size: 18px;
}
.link--title-semana{
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
  color:black;
}
.paragraph--title-semana{
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.paragraph--title-extra-semana{
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.link--title-extra-semana{
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.paragraph--txt-vacation{
  text-align: center;
  min-height: 100px;
}

.link--txt-vacation{
  min-width: 100%;
  color: #000;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  text-align: center !important;
}
.strong--txt-vacation{
  opacity: 0;
}
.paragraph--txt-vacation:hover .strong--txt-vacation{
  opacity: 1;
  transition: all 1.3s;
}


//modal
.paragraph--newsletter-title-modal{
  // min-width: 486px !important;
  max-height: 40px;
  margin: 0px 0px 0px 7px !important;
  display: flex !important;
  justify-content: center !important;
  font-size: 22px !important;
  color: #fff;
  text-shadow: 0px 0px 5px black;
}
.paragraph--newsletter-modal{
  font-size: 14px;
  text-align: center !important;
  color: #fff;
  margin: 5px 0px 0px 0px !important;
  text-shadow: 0px 0px 5px black;
}
.link--newsletter-terms-modal{
  color: #fff !important;
}
.paragraph--newsletter-terms-modal{
  text-shadow: 0px 0px 5px black;
}
@media (max-width: 425px) {
  .paragraph--newsletter-title-modal{
    min-width: 310px !important;
    font-size: 24px !important;
    justify-content: space-around;
  }
  .paragraph--newsletter-modal {
    margin: 5px 0 !important;
    font-size: 14px !important;
  }
  .paragraph--newsletter-terms-modal{
    margin-left: 0px !important;
  }
}
@media (max-width: 375px) {
  .paragraph--newsletter-title-modal{
    min-width: 250px !important;
    font-size: 20px !important;
  }
}
@media (max-width: 320px) {
  .paragraph--newsletter-title-modal{
    min-width: 140px !important;
    font-size: 16px !important;
    text-align: left !important;
  }
  .paragraph--newsletter-modal {
    margin: 5px 0 !important;
    font-size: 12px !important;
  }
}

.paragraph--newsletter-terms-modal{
  font-size: 11px   !important;
  text-align: center;
  color: #fff;
}
//end newsletter
@media(max-width: 768px){
  .paragraph--title-marketplaces{
    margin: 20px 20px 20px 20px;
    font-size: 26px;
  }
  .paragraph--newsletter-title-modal{
    margin: 0px 0px 0px 150px !important;
  }
  .paragraph--newsletter-terms-modal{
    margin-left: 30px;
  }
}
@media(max-width: 1024px){
  .paragraph--newsletter-modal{
    font-size: 15px !important;
  }
}
//marketplaces
.paragraph--title-marketplaces{
  margin: 20px 80px ;
  font-size: 28px;
  font-weight: bold;
}
.paragraph--subtitle-marketplaces{
  font-size: 24px !important;
  margin: 10px 0 45px 0 !important;
  font-weight: 700;
}

//modal newsletter
@media(max-width: 425px){
  .paragraph--newsletter-title-modal{
    min-width: 320px !important;
    margin: 0px 0px 0px 3px !important;
    font-size: 22px !important;
    
  }
  .paragraph--newsletter-modal{
    min-width: 320px !important;
    font-size: 14px !important;
  }  
}
@media(max-width: 375px){
  .paragraph--newsletter-title-modal{
    min-width: 270px !important;
    font-size: 20px !important;
  }
  .paragraph--newsletter-modal{
    min-width: 270px !important;
    font-size: 14px !important;
  }
  .paragraph--title-marketplaces{
    margin: 10px;
    font-size: 16px;
  }
}
@media(max-width: 320px){
  .paragraph--newsletter-title-modal{
    min-width: 220px !important;
    font-size: 16px !important;
  }
  .paragraph--newsletter-modal{
    min-width: 225px !important;
    font-size: 12px !important;
  }
  .paragraph--newsletter-modal-arigato{
    font-size: 12px !important;
  }
  .paragraph--subtitle-marketplaces{
    font-size: 18px !important;
  }
}
//end modal

.link--txt-benefit-pdp{
  color: #333;
  text-decoration: underline;
  font-weight: 500;
}
.paragraph--quanty-class {
  margin-right: 12px;
  font-size: 14px;
}
.container--extra-politicas{
  margin-left: 29px;
}

//new landing category
:global(.vtex-rich-text-0-x-strong--title-category-new-landing){
  color: #f7c1bb !important;
}
:global(.vtex-rich-text-0-x-headingLevel1--title-category-new-landing){
  margin-top: -15px !important;
}
:global(.vtex-rich-text-0-x-link--new-landing-category-photo-text){
  color: #1ac0c6 !important;
}
@media (max-width: 768px){
  :global(.vtex-rich-text-0-x-headingLevel1--title-category-new-landing){
    font-size: 32px !important;
    margin-top: 10px !important;
  }
}
@media (max-width: 425px){
  :global(.vtex-rich-text-0-x-headingLevel1--title-category-new-landing){
    font-size: 20px !important;
    margin-top: 10px !important;
  }
}
//seo

:global(.vtex-rich-text-0-x-italic--txt-deal){
  display: flex;
  text-align: center ;
  font-style: normal;
  justify-content: center;
}
:global(.vtex-rich-text-0-x-headingLevel2--txt-deal){
  font-size: 16px ;
  font-weight: 700   ;
  font-style: normal ;
  letter-spacing: 1.2px ;
}
:global(.vtex-rich-text-0-x-headingLevel2--newsletter-title){
  margin: 5px 0;
}

:global(.vtex-rich-text-0-x-link--txt-vacation){
  font-size: 16px;
}

:global(.vtex-rich-text-0-x-headingLevel3--txt-vacation){
  text-align: center;
  margin-bottom: 0px;
}

//spaces
:global(.vtex-rich-text-0-x-container--shelf-title){
  max-height: 18px;
}
//footer
:global(.vtex-rich-text-0-x-paragraph--footer-paymentOptions-text){
  color: white;
}