.link--link-popup-miniso-01,
.link--link-popup-miniso-02{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px -1px rgba(0,0,0,.15);
    text-decoration: none;
    margin: 0 auto;
    padding: 15px;
}

.link--link-popup-miniso-01{
    background: #f7c1bb;
    color: black;
    margin-right: 10px;
}

.link--link-popup-miniso-01::after,
.link--link-popup-miniso-02::after{
    font-size: 12px;
    display: block;
    margin-top: 10px;
    font-weight: normal;
}

.link--link-popup-miniso-01::after{
    content: "Aplica CDMX, Edo Méx, Guadalajara";
}

.link--link-popup-miniso-02::after{
    content: "Aplica toda la República Mex";
}

.link--link-popup-miniso-02{
    background: #ccc;
    color: #444;
    margin-left: 10px;
}
//marketplaces
.label--button-marketplaces{
    background-color: #ff1b40 !important;
    padding: 15px 90px !important;
    font-weight: 700;
    color: #fff;
    border-radius: 5px !important;
}
.link--button-marketplaces{
    text-decoration: none !important;
}

@media screen and (max-width:1024px){
    .link--link-popup-miniso-02{
        margin-left:0px;
    }
}
@media screen and (max-width:320px){
    .label--button-marketplaces{
        padding: 10px 50px !important;

    }
}
//new landing category
.label--button-new-landing-category{
    background-color: #f7c1bb!important;
    padding: 15px 90px !important;
    font-weight: 700;
    color: black;
    border-radius: 5px !important;
    min-width: 100% !important;
}
.link--button-new-landing-category{
    text-decoration: none !important;
    margin-top: 10px;
}
@media(max-width: 768px){
    .link--button-new-landing-category{
        margin-top: 45px;
    }
}
@media(max-width: 425px){
    .link--button-new-landing-category{
        display: flex;
        width: 70px !important;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
}
/* Blog 13 */
.link--blog-13-ver-todo{
    background-color: #f7c1bb!important;
    padding: 20px 90px !important;
    font-weight: 700;
    color: black;
    border-radius: 5px !important;
    min-width: 100% !important;
    text-decoration: none !important;
    margin: 20px 0;
}
/* reviews link text PDP */
.link--reviews-link-text{
    font-size: 14px;
    color: #19c0c5;
}
@media(max-width: 640px){
    .link--reviews-link-text{
        text-align: right !important;
    }
}