.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  background-color: #f0f0f0;
}

.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: 20px;
  margin-bottom: 0px;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  @media screen and (max-width: 640px) {
    padding: 0px !important;
  }
}

.sliderArrows--shelf {
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 26px;
  height: 28px;
  background-color: #f7c1bb !important;
  border-radius: 50%;
  margin-top: -80px;

  .caretIcon--shelf {
    width: 15px;
    height: 15px;
  }

  &:hover {
    background-color: #d22630 !important;
    color: #fff;
  }
}

.sliderArrows--categories-slider {
  color: #d22630;
  top: 0;
  margin: 15px -15px;
}

.sliderArrows--categories-slider:hover {
  color: rgba(#d22630, 0.8);
}

.caretIcon--categories-slider {
  width: 15px;
  height: 15px;
}

.imageElementLink--carousel {
  width: 100%;
  font-size: 0;
  .imageElement--carousel {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .sliderLayoutContainer--shelf {
    padding: 0 10px !important;
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--line-not-found)
  :global(.vtex-slider-0-x-dotsContainer) {
  display: block !important;
}

.sliderLayoutContainer--text-slider-vacation{
  margin-bottom: 45px;
}