.paper--modal-popup-miniso{
    padding:20px;
}

.triggerContainer--trigger-popup-miniso{
    position: absolute; 
    opacity: 0;
    visibility: hidden;
    top: -99999em;
}
.headerContainer{
    border: none !important;
    height: 30px !important;
}
.closeButton{
    padding: 0px !important;
}

.paperNotFullScreen{
    width: 600px;
    height: 450px;
    background-image: linear-gradient(to right, rgba(221, 42, 63, 0.048) , rgba(221, 42, 63, 0.034)),
    url( "https://minisocl.vtexassets.com/assets/vtex.file-manager-graphql/images/12c94320-5c26-469f-b42a-ab59f5f620ab___a0b3ccdef0dd56676fad896e32566188.webp");
    // background-color: rgb(193,253, 255);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px;
    padding: 10px 10px;
}
.vtex-rich-text-0-x-wrapper{
    min-width: 100%;
}
@media (max-width: 425px) {
    .paperNotFullScreen{
       width: 400px;
       height: 440px;
    }
}

@media screen and (max-width:1024px){
    .paper--modal-popup-miniso{
        :global(.vtex-flex-layout-0-x-flexColChild--col-popup-miniso-02){
            margin: 0px!important
        }
        :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
            margin-bottom: 15px;
        }
    }
}

.paper--modal-benefit-pdp{
    max-width: 1000px;
    padding-left: 3%;
    padding-right: 3%;
}