.biggy-autocomplete {
  overflow: auto;
  width: 80vw;
  max-height: 90vh;

  :global(.vtex-store-components-3-x-discountInsideContainer) {
    margin-right: 0;
  }

  @media screen and (max-width: 768px) {
    width: 95vw;
    margin-left: -90%;
  }
}

@media screen and (min-width: 1920px) {
  .biggy-autocomplete {
    margin-left: 180px !important;
  }
}
