//new modal newsletter
.phoneInputContainer{
    margin: 5px 0px !important;
  }
  .nameInputContainer{
    margin: 5px 0px !important;
  }
  .emailInputContainer {
    margin-top: 5px !important;
  }
  .b--action-primary {
    width: 100%;
}
  .formSubmitContainer{
    .b--action-primary {
          width: 100%;
      }
  }