.notificationBarContainer {
  background: rgb(209, 201, 255);
  background: linear-gradient(
    90deg,
    rgba(209, 201, 255, 1) 0%,
    rgba(191, 155, 228, 1) 50%,
    rgba(202, 128, 221, 1) 100%
  );
  font-size: 12px;
  color: black;
  font-weight: 700;
}

:global(.vtex-product-highlights-2-x-productHighlightText--tresxdos) {
  z-index: 99;
  padding: 2px 4px;
}

.searchBarContainer {
  padding: 0;
  margin-left: 20px;
  :global(.vtex-input-prefix__group) {
    height: 50px;
    border: none;
    padding: 0;
    position: relative;
    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }
  :global(.vtex-styleguide-9-x-input) {
    padding: 8px 6px 6px 20px;
    border: 1px #eee solid;
    border-radius: 12px;
    background-color: rgba(242, 242, 242, 0.6);
    max-width: initial;
    height: 45px;
  }
  :global(.vtex-input__prefix) {
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    padding-right: 5px;
  }
}

.searchBarInnerContainer {
  :global(.vtex-input__suffix) {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 45px;
    background: #f7c1bb;
    padding: 0 10px 0 15px;
  }
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

// .label {
//   color: #fff;
//   font-size: 26px;
// }

// .inputGroup {
//   padding-bottom: 4px;
//   display: flex;
//   color: #fff;
// }

// .inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
//   background-color: transparent;
//   color: #fff;
//   border: none;
// }

// .inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
//   color: #fff;
//   font-size: 16px;
// }

// .inputGroup :global(.vtex-button) {
//   background-color: transparent;
//   color: #fff;
//   border: none;
//   margin-right: -24px;
// }

// .buttonContainer {
//   padding-top: 0px;
// }

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.imageElement--season-promotion--image {
  width: 10%;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }

  .imageElement--season-promotion--card {
    width: 100%;
    display: block;
    min-height: 100%;
  }

  .imageElement--season-promotion--card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
  }

  .imageElementLink--season-promotion--card {
    display: block;
    overflow: hidden;
  }
}

.imageElementLink--promotion-news--image {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

.imageElement--promotion-news--image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageElement--promotion-news--image:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 640px) {
  .imageElementLink--promotion-news--image--left {
    margin-right: 10px;
  }

  .imageElementLink--promotion-news--image--right {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .container--newsletter {
    padding: 20px 15px;
  }
  .form--newsletter {
    padding: 20px 5vw;
  }
}

.inputGroup--newsletter {
  display: flex;
}

.logoLink {
  display: block;
  min-width: 85px;
}

:global(.vtex-button) {
  outline: none !important;
}

.sizeDesktop {
  display: block;
  padding: 0;
  .logoImage {
    width: 120px;
  }
}

.searchIcon--main-search-bar {
  width: 25px;
}

.vtex-minicart-2-x-cartIcon {
  display: none;
}

// NewsLetter
.newsletter {


  .label {
    display: none;
  }

  .inputGroup {
    :global(.vtex-input-prefix__group) {
      height: 33px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .buttonContainer {
      padding: 0;
      :global(.vtex-button) {
        margin-left: 5px;
        background-color: #f7c1bb;
        color: #1e1e24;
        border-color: #f7c1bb;
        font-size: 15px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 3px;
        border-radius: 6px;
        height: 8px;
      }
    }
  }
  .confirmationTitle--newsletter {
    font-size: 0;
    &::before {
      content: "¡Gracias por suscribirte!";
      font-weight: 700;
      font-size: 1.75rem;
    }
  }
  .confirmationText--newsletter {
    font-size: 0;
    &::before {
      content: "Revisa tu correo para leer nuestras noticias.";
      font-size: 16px;
      font-weight: 400;
    }
  }
}

:global(.vtex-breadcrumb-1-x-homeLink) {
  color: #d22630;

  &:hover {
    opacity: 0.8;
  }
}

.sizeMobile {
  padding: 0;
  .logoImage {
    width: 80px;
  }
}

.imageElement--menucategorias-1 {
  margin-top: 10px;
}

.productImage {
  border-radius: 10px;
  overflow: hidden;
}

// Página de Produto
:global(.vtex-product-context-provider) {
  :global(.vtex-flex-layout-0-x-flexRow--product-main-info) {
    //max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
    margin: 0;

    .productImagesGallerySwiperContainer {
      .swiperCaret {
        padding: 0;
        width: 32px;
        height: 32px;
        background-color: #f7c1bb;
        border-radius: 50%;
        .caretIcon {
          display: flex;
          margin: auto;
          height: 100%;
          width: 15px;
        }
        &:hover {
          background-color: #d22630;
          color: #fff;
        }
      }
    }

    .productImagesThumbsSwiperContainer {
      margin-top: 50px;

      .productImagesThumb {
        margin-right: 15px;
      }

      .productImagesThumbActive {
        opacity: 0.8;
      }
    }
  }

  .productDescriptionContainer {
    //max-width: 1250px;
    padding: 0 15px 0 0;
    margin-top: 20px;
  }

  .productBrandName {
    color: #1e1e24;
    @media (max-width: 768px) {
      display: flex;
    }
  }

  .price_listPriceContainer {
    font-size: 18px;
    color: #707070;
    font-weight: 600;
  }

  .productNameContainer {
    color: #4d4d4f;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      text-align: left;
    }
  }

  // buy button
  :global(.vtex-flex-layout-0-x-flexColChild--product--buy-button) {
    display: flex;
    justify-content: center;

    :global(.vtex-button) {
      :global(.vtex-button__label) {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }

    @media screen and (min-width: 540px) {
      justify-content: flex-end;
    }
  }
  // pdp
  :global(.vtex-flex-layout-0-x-flexCol--product-info-right) {
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
      padding-right: 0.6rem;
    }
    :global(.vtex-flex-layout-0-x-flexRowContent) {
      justify-content: space-between;
      align-items: center;
    }
    .productBrandContainer {
      margin-bottom: 10px;
    }
    .productBrand {
      font-size: 21px;
      line-height: 1.33;
      letter-spacing: 1.62px;
      color: rgba(30, 30, 36, 0.5);
      text-transform: uppercase;

      @media screen and (max-width:768px){
        font-size: 1.1rem;
        line-height: initial;
      }
    }
    .listPriceValue{
      font-weight: normal;
      margin-bottom: 0;
      position: relative;
      top: -2px;
      color: #999999!important;
      text-decoration: line-through!important;
    }
    .sellingPriceValue {
      font-size: 30px;
      color: #ff1a40;
      font-weight: normal;
      @media (max-width: 768px) {
        display: flex;
        justify-content: left;
        font-size: 24px;
      }
    }
    .installmentsPrice {
      display: none;
      font-weight: normal;
    }
    :global(.vtex-numeric-stepper__plus-button__text),
    :global(.vtex-numeric-stepper__minus-button__text) {
      letter-spacing: 3.6px;
      color: #d22630;
    }
    :global(.vtex-product-identifier-0-x-product-identifier--productReference) {
      :global(.vtex-product-identifier-0-x-product-identifier__label) {
        font-size: 14px;
        line-height: 1.71;
        color: #1e1e24;
      }
      :global(.vtex-product-identifier-0-x-product-identifier__separator) {
        font-size: 14px;
        line-height: 1.71;
        color: #1e1e24;
      }
      :global(.vtex-product-identifier-0-x-product-identifier__value) {
        font-size: 14px;
        line-height: 1.71;
        color: #1e1e24;
      }
    }
    :global(.vtex-product-quantity-1-x-quantitySelectorStepper) {
      transform: scaleY(1.08);
      @media (max-width: 768px) {
        margin-bottom: 8px;
      }
      :global(.vtex-styleguide-9-x-hideDecorators) {
        width: 3em;
      }
    }

    @media screen and (max-width: 540px) {
      text-align: center;
    }
 
    :global(.vtex-tab-layout-0-x-listItemActive--tab-desc) {
      @media (max-width: 768px) {
        max-width: 100%;
        background: red;
        width: 100%;
      }
      :global(.vtex-button){
        font-size: 14px;
        text-transform: capitalize;
        color: #1D1D1B !important;
        background-color: transparent;
        border: none;
        outline: 0!important;
        &::before {
          content: "";
          position: absolute;
          bottom: -6px;
          left: -23%;
          width: 150%;
          border-bottom: 3px solid #FCBF0A;
        }
      }
    
    }
    
    :global(.vtex-tab-layout-0-x-listItem) {
      :global(.vtex-button){
        color: #99999E;
        text-transform: capitalize;
        font-size: 14px;
        outline: 0!important;
        background-color: transparent;
      }
      @media (max-width: 768px) {
        width: 47%;
      }
    }
    :global(.vtex-tab-layout-0-x-listItem--tab-desc) {
      width: 50%;
      margin: 0px;
      padding-top: 15px;
      padding-bottom: 4px;
      margin-bottom: 15px;
      text-align: left;
      border-bottom: 2px solid #f2f2f2;
      @media (max-width: 768px) {
        width: 40%;
      }
      :global(.vtex-button__label){
        font-size: 12px !important;
      }
     
    }
   
  }

  :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
    align-items: center;
    justify-content: center;
    margin: 0;
    :global(.vtex-product-quantity-1-x-quantitySelectorStepper) {
      @media (max-width: 768px) {
        display: flex;
        margin-right: auto;
      }
    }
  }
}


:global(.vtex-reviews-and-ratings-2-x-summaryContainer) {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
  cursor: pointer;
}

:global(.vtex-reviews-and-ratings-1-x-stars) {
  margin-right: 0.5rem;
  display: block;

  :global(.vtex-reviews-and-ratings-1-x-star) {
    color: #ffa31c !important;
    font-size: 19px;
    position: relative;
    top: -1px;
    &:hover {
      color: #ffa31c !important;
    }
  }
}
:global(.vtex-reviews-and-ratings-2-x-stars){
  color: #ffa31c !important;
}


.shippingContainer {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  position: relative;
  padding-top: 60px;

  :global(.vtex-address-form__postalCode) {
    text-transform: uppercase;
    letter-spacing: 0.85px;

    @media screen and (max-width: 540px) {
      font-size: 9px;
    }

    :global(.vtex-input__label) {
      font-size: 18px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000;
      position: absolute;
      top: 0;
    }

    :global(.vtex-address-form-4-x-input) {
      height: inherit;
    }
  }

  :global(.vtex-input-prefix__group) {
    background-color: #ffffff;
    border-radius: 6px 0 0 6px;
    height: 40px;
  }

  :global(.vtex-button) {
    width: 50%;
    height: 40px;
    display: flex;
    border-radius: 0 6px 6px 0;
    opacity: 0.39;
    border: solid 2px #000000;
    background-color: #ffffff;
    margin-bottom: 28px;
    @media (max-width: 768px) {
      margin-bottom: 45px;
    }
    :global(.vtex-button__label) {
      cursor: pointer;
      font-size: 0;
      @media screen and (max-width: 640px) {
        padding: 0px;
      }
      &::before {
        content: "Verificar";
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        color: rgb(30, 30, 36);

        @media screen and (max-width: 640px) {
          font-size: 11px;
          letter-spacing: 0.4px;
        }
      }
    }
    &:hover {
      border-color: #f7c1bb;
      background-color: #f7c1bb;
      opacity: 1;
    }
  }

  // @media screen and (max-width: 540px) {
  //   flex-wrap: wrap;
  //   justify-content: center;
  // }
}
.shippingTable {
  .shippingTableCell {
    &:first-child {
      font-size: 14px;
      font-weight: 400;
      .shippingTableRadioBtn {
        display: none;
      }
    }
    /*&:not(:first-child) {
      font-size: 0;
      &::before {
        content: "Fecha estimada de entrega de 2 a 5 dias habiles";
        font-size: 14px;
        font-weight: 400;
      }
    }*/
    &:last-child {
      &::before {
        font-size: 0px;
      }
      font-size: 14px;
      font-weight: 400;
    }
  }
}

:global(.vtex-login-2-x-inputContainer) {
  min-width: 300px;
}

:global(.vtex-login-2-x-inputContainerAccessCode) {
  :global(.vtex-styleguide-9-x-input)::placeholder {
    font-family: "Manrope";
  }
}

// Feature Products
.imageElement--feature-products--image {
  width: 100%;
  // height: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}

.imageElementLink--carousel {
  width: 100%;
  font-size: 0;
  .imageElement--carousel {
    width: 100%;
  }
}
.imageElement--img-vacation:hover{
  transform: scale(1.09);
  transition: all .3s ease;
}

// Rate and Review

:global(.vtex-reviews-and-ratings-1-x-container) {
  padding-bottom: 20px;
  //max-width: 1250px;

  :global(.vtex-styleguide-9-x-jsFocusVisible) {
    :first-child {
      :first-child {
        color: #1ac0c6;
      }
      :last-child {
        color: #1ac0c6;
      }
    }
    :global(.vtex-reviews-and-ratings-1-x-formContainer) {
      :global(.vtex-input__label),
      :global(.vtex-styleguide-9-x-input),
      :global(.vtex-textarea__label) {
        color: #1e1e24;
      }
      :global(.vtex-reviews-and-ratings-1-x-star) {
        color: #1ac0c6;
      }
      :global(.vtex-button) {
        background-color: #f7c1bb;
        border-color: #f7c1bb;
        :global(.vtex-button__label) {
          color: #1e1e24;
        }
      }
    }
  }
}

.productDescriptionContainer {
  .showMoreButton {
    padding: 10px 15px;
    border-radius: 5px;
    color: black;
    text-decoration: underline;
    font-size: 0.8rem;
    background: transparent;
  }

  @media screen and (max-width: 540px) {
    text-align: left;
  }
  .productDescriptionTitle {
    font-size: 18px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
  }
  .productDescriptionText {
    .content {
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      line-height: 18px;
      color: rgba(24, 24, 24, 0.5);
    }
  }
}

:global(.vtex-numeric-stepper__plus-button) {
  :global(.vtex-numeric-stepper__plus-button__text) {
    letter-spacing: 3.6px;
    color: #d22630;
  }
  &:hover {
    -color: #d22630;
    :global(.vtex-numeric-stepper__plus-button__text) {
      color: #fff;
    }
  }
}
:global(.vtex-numeric-stepper__minus-button) {
  :global(.vtex-numeric-stepper__minus-button__text) {
    letter-spacing: 3.6px;
    color: #d22630;
  }
  &:hover {
    background-color: #d22630;
    :global(.vtex-numeric-stepper__minus-button__text) {
      color: #fff;
    }
  }
}

.shareContainer {
  margin-top: 20px;
  .shareLabel {
    font-size: 0;
    &::before {
      content: "Comparte en";
      font-size: 14px;
    }
  }
  .shareSocialButton {
    &:first-child {
      &::before {
        content: url("/arquivos/facebook-pdp.png");
        // background-image: url("/arquivos/facebook-pdp.png");
        display: block;
      }
      .shareSocialIcon {
        display: none;
      }
    }
    &:not(:first-child) {
      margin-left: 10px;
      &::before {
        content: url("/arquivos/whatsapp-pdp.png");
        display: block;
      }
      .shareSocialIcon {
        display: none;
      }
    }
    &::nth-child(n-2) {
      display: none !important;
    }
    &:last-child {
      margin-top: 2px;
      margin-left: 10px;
      &::before {
        content: url("/arquivos/twitter-pdp.png");
        // background-image: url("/arquivos/twitter-pdp.png");
        display: block;
      }
      .shareSocialIcon {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .shippingContainer {
    margin-bottom: 0px;
    scroll-padding-top: 75px;
  }
}

// @media (max-width: 768px) {
//   .shippingContainer {
//     :global(.vtex-address-form__postalCode) {
//       :not(:first-child) {
//         width: 150%;
//       }
//     }
//     :global(.vtex-button__label) {
//       padding: 0 !important;
//     }
//   }
// }

.specificationsTableContainer {
  padding: 0;
  margin: 25px 0;
  width: 100% !important;
  .specificationsTitle {
    margin: 0;
    border-bottom: solid thin #e3e4e6;
    padding-bottom: 15px;
  }
  .specificationsTablePropertyHeading,
  .specificationsTableSpecificationHeading {
    display: none;
  }
  .specificationItemProperty,
  .specificationItemSpecifications {
    padding: 10px;
  }
}

:global(.vtex-toast-container) {
  :global(.vtex-toast) {
    :first-child {
      :first-child {
        :first-child {
          font-size: 16px;
          &::before {
            content: "";
            font-size: 16px;
            font-weight: 400;
            font-family: "arial";
          }
        }
      }
    }
    :global(.vtex-alert__close-icon) {
      :first-child {
        color: #1e1e24;
      }
    }
  }
}
.imageElement--image-benefit-pdp {
  margin-right: 1rem;
  width: 35px;
}

.specificationsTitle {
  display: none;
}

.shareLabel {
  display: none;
}

.pointerEventsAuto .showMoreButton :global(.vtex-button) {
  border-radius: 5px;
  padding: 10px 15px;
}

:global(.vtex-address-form__postalCode) :global(.vtex-input__label) {
  font-size: 0px !important;

  @media screen and (max-width: 540px) {
    text-align: left;
  }
}
//modal newsletter
:global(.vtex-input__error) {
  margin-top: 0px !important;
}

:global(.vtex-store-newsletter-1-x-formSubmitContainer){
  :global(.vtex-button) {
    width: 100% !important;
  }
}
:global(.vtex-store-newsletter-1-x-newsletterForm){
  :global(.vtex-input-prefix__group){
    border: none !important;
  }
}
@media screen and (max-width: 425px) {
  :global(.vtex-store-newsletter-1-x-phoneInputContainer){
    :global(.vtex-input-prefix__group) {
      :global(.vtex-styleguide-9-x-input){
        font-size: 12px !important;
        width: 65% !important;
        margin: 0 auto !important;
      }
    }
  }
  :global(.vtex-store-newsletter-1-x-nameInputContainer){
    :global(.vtex-input-prefix__group) {
      :global(.vtex-styleguide-9-x-input){
        font-size: 12px !important;
        width: 65% !important;
        margin: 0 auto !important;
      }
    }
  }
  :global(.vtex-store-newsletter-1-x-emailInputContainer){
    :global(.vtex-input-prefix__group) {
      :global(.vtex-styleguide-9-x-input){
        font-size: 12px !important;
        width: 65% !important;
        margin: 0 auto !important;
      }
    }
  } 
  :global(.vtex-store-newsletter-1-x-formSubmitContainer){
    :global(.vtex-button) {
      width: 65% !important;
      display: flex !important;
      justify-content: center !important;
    }
  }
  :global(.vtex-store-newsletter-1-x-formSubmitContainer){
      display: flex !important;
      justify-content: center !important;
  
  }
  :global(.vtex-store-newsletter-1-x-confirmationCheckboxContainer){
    width: 65%;
    margin: 0 auto;
    font-size: 12px;
  }
  
}
@media screen and (max-width: 375px) {
  :global(.vtex-store-newsletter-1-x-phoneInputContainer){
    :global(.vtex-input-prefix__group) {
      :global(.vtex-styleguide-9-x-input){
        width: 100%;
      }
    }
  }
  :global(.vtex-store-newsletter-1-x-nameInputContainer){
    :global(.vtex-input-prefix__group) {
      :global(.vtex-styleguide-9-x-input){
        width: 100%;
      }
    }
  }
  :global(.vtex-store-newsletter-1-x-emailInputContainer){
    :global(.vtex-input-prefix__group) {
      :global(.vtex-styleguide-9-x-input){
        width: 100%;
      }
    }
  } 
  :global(.vtex-store-newsletter-1-x-formSubmitContainer){
    :global(.vtex-button) {
      width: 65% !important;
    }
  }
}
:global(.vtex-store-newsletter-1-x-defaultSuccessMessage){
  color: white;
  font-size: 22px;
  text-align: center;
  text-shadow: 0px 0px 5px #000;
  margin-top: 41%;
}
@media screen and (max-width: 425px){
  :global(.vtex-store-newsletter-1-x-defaultSuccessMessage){
    margin-top: 33% !important;
  }
}
:global(.vtex-checkbox__line-container){
  margin-top: 8px;
}
:global(.vtex-checkbox__label){
  color: #000;
  font-size: 14px;
}
//modal newsletter


:global(.vtex-address-form__postalCode) :global(.vtex-input__label)::before {
  content: "Verificar disponibilidad y costo";
  font-size: 18px;
}

:global(.vtex-address-form__postalCode) :global(.vtex-input__label)::after {
  content: "Nuestros productos ¡vuelan! Checa aqu\00ED  si est\00E1  disponible y cu\00E1 l es el costo de env\00ED o.";
  font-size: 14px;
  font-weight: normal;
  display: block;
  color: rgba(24, 24, 24, 0.5);
  margin-top: 10px;
}

.shippingNoMessage {
  width: 100%;
  text-align: center;
  background: #feffa7;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 9px;
}

:global(.vtex-flex-layout-0-x-flexColChild--col-price-pdp) .priceContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

.discountInsideContainer {
  border-radius: 5px;
  top: 10px !important;
  right: auto;
  left: 6px;
  background: #d22630;
  font-size: 0.9rem;
  font-weight: normal;
}

:global(.vtex-product-summary-2-x-price_savings--price-summary) {
  display: none !important;
}

.specificationItemProperty--specifications-b{
  display: none;
}
.specificationItemSpecifications--specifications-b{
  border:0px;
}
.specificationItemSpecifications--specifications-b{
  padding-left: 25px !important;
}

@media screen and (max-width: 540px) {
  .shippingContainer {
    :global(.vtex__icon-external-link) {
      display: none;
    }
  }
  :global(.vtex-address-form__postalCode) :global(.vtex-input__label)::after {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.imageElement--image-benefit-pdp-03{
  width:35px;
}

.imageElement--image-benefit-pdp-05{
  width:35px;
  margin-right: 0px;
}
.imageElement--image-benefit-pdp-04{
  width:115px !important;
}

:global(.vtex-flex-layout-0-x-flexCol--line-01-not-found) {
  .imageElement {
    display: block;
    margin: 0 auto;
  }
}

.infoCardContainer--info-card-notfound {
  width: calc(100% - 30px) !important;
  position: relative;
  left: 15px;
  top: -15px;
  box-shadow: -15px 14px 0 0 #1ac0c6;
  margin-top: 9vh;
  margin-bottom: 9vh;
  background-color: #9fe7e9;
  padding-left: 15px;

  .infoCardCallActionText--info-card-notfound {
    text-decoration: none;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
  }
  .infoCardCallActionText--info-card-notfound::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath data-name='layer2' fill='none' stroke='%23202020' stroke-miterlimit='10' stroke-width='2' d='M50 31.998H14' stroke-linejoin='round' stroke-linecap='round'%3E%3C/path%3E%3Cpath data-name='layer1' fill='none' stroke='%23202020' stroke-miterlimit='10' stroke-width='2' d='M36 18l14 14-14 14' stroke-linejoin='round' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    filter: brightness(0);
    margin-left: 5px;
  }
  .infoCardHeadline--info-card-notfound {
    font-size: 55px;

    @media screen and (max-width: 1024px) {
      font-size: 20px;
    }
  }
  .infoCardSubhead--info-card-notfound {
    font-size: 14px;
    max-width: 480px;
  }
}

.infoCardCallActionContainer {
  text-decoration: none;
}

:global(.vtex-flex-layout-0-x-flexCol--col-warnings-pdp) .specificationItemSpecifications{
  display: none;
}

:global(.vtex-flex-layout-0-x-flexCol--col-warnings-pdp) .specificationsTableContainer{
  margin: 0px;
  width: fit-content;
}

:global(.vtex-flex-layout-0-x-flexCol--col-warnings-pdp) .specificationsTable{
  width: fit-content;
}

:global(.vtex-flex-layout-0-x-flexCol--col-warnings-pdp) .specificationItemProperty{
  background-color: #f7c1bb;
    border-radius: 5px;
    color: #000;
    height: 25px;
    padding: 0 15px;
    font-size: 14px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--deals) .imageElement {
  height: 30vh;
  width: auto;
  margin: auto;
}

@media screen and (max-width: 840px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--deals) .imageElement {
    height: 100px;
  }
}

@media screen and (max-width: 640px) {
  .imageElement--season-promotion--card {
    width: 95%;
  }
}
@media screen and (max-width: 425px) {
  .imageElement--season-promotion--card {
    max-height: 255px !important;
  }
}

.notificationContent {
  font-size: 14px;
  text-decoration: none;
}

.notificationContent {
  text-align: center;

  @media (max-width: 840px) {
    font-size: 11px;
  }
}

:global(.vtex-flex-layout-0-x-flexCol--btn-01) :global(.vtex-button) {
  background-color: transparent;
}
:global(.vtex-toast-container) {
  :global(.vtex-toast) {
    :last-child {
      :last-child {
        :last-child {
          font-size: 16px;
          &::before {
            content: "";
            font-size: 16px;
            font-weight: 400;
            font-family: "arial";
          }
        }
      }
    }
    :global(.vtex-alert__close-icon) {
      :first-child {
        color: #1e1e24;
      }
    }
  }
}
//modal
.container--newsletter-modal{
  padding: 0px !important;

}

.buttonContainer--newsletter-modal{
  margin-top: 0px !important;
}
@media (max-width: 425px) {
  .buttonContainer--newsletter-modal{
    margin-top: 8px !important;
  }
}
.form--newsletter-modal{
  padding: 0px !important;
}

//marketplace
.imageElement--marketplaces-line-image{
  min-height: 100% !important;
  border-radius: 5px 5px 0px 0px !important;
}
.imageElement--marketplaces-banner-principal{
  min-height: 150px !important;
}

:global(.vtex-tab-layout-0-x-contentContainer--tab-content-desc){
  margin: 0 auto;
  max-width: 987px;
  font-size: 0.88rem;
  @media (max-width: 1067px) {
    max-width: 69%;
  }
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

//new landing category
.imageElement--new-landing-category-photo{
  // max-height: 500px !important;
  // min-width: 550px;
  object-fit: cover !important;
}
.imageElement--image-landing-subcategories{
  height: 300px;
  width: 300px !important;
  object-fit: contain;
}
:global(.vtex-flex-layout-0-x-flexColChild--new-landing-category-photo-text){
  display: flex !important;
}
@media(min-width: 425px){
  :global(.vtex-flex-layout-0-x-flexColChild--new-landing-category-photo-text){
    min-height: 80px !important;
  }
}

//class new styles
.imageElement--footer-img-1 {
  height: 45px;
}
.imageElement--footer-img-2 {
  height: 24px;
}
.imageElement--footer-img-3 {
  height: 24px;
}
.imageElement--footer-img-4 {
  height: 24px;
}
.imageElement--footer-img-5 {
  height: 24px;
}
.imageElement--footer-img-6 {
  height: 24px;
}
.imageElement--img-express-pdp-01{
  height: 70px !important;
}

