.container {
    padding: 15px 1.5% 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: 700;
    @media (max-width: 768px) {
        justify-content: center;
    }
    .homeLink {
        padding-left: 0px;
        &::after {
            content: "Home";
            align-items: center;
            display: flex;
            color:  #1cc0c6;
        }
        .homeIcon {
            display: none;
        }
    }
    .arrow:last-child{
        .link{
            color: #1e1e24;
            .term{
                text-transform: uppercase;
            }
        }
        
    }
    .arrow,
    .link,
    .termArrow {
        text-transform: uppercase;
        color:  #1cc0c6;
        font-weight: 700;
    }
   
}
