.product-identifier--productReference {
  margin-bottom: 1rem;
  color: black;
  font-size: .88rem;
  .product-identifier__label{
    margin-left: 12px !important;
  }
  .product-identifier__label,
  .identifier__separator,
  .product-identifier__value{
    font-size: .88rem;
  }
}